.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Wrapper{
  background: rgb(238, 141, 255);
  box-shadow: 0 3px 3px 0 black;
  padding: 10px;
}
.input-wrapper{
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center ;
}
.input-wrapper input{
  outline: none;
  background-color: rgb(255, 204, 249);
  width: 160px;
  padding: 6px;
  height: 20px;
}
.input-wrapper button{
  width: 40px;
  background-color: rgb(118, 127, 255);
  border: none;

}